#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
# se debe reamplazar jorge por su nombre de dominio del anterior modulo sin el .com
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo  
  expire: False

users:
  - name: groversarzuri # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDiCqEn3N4L018tyqEDv6D7AQ0ckm2rjTwMvi/IPBNOPvf7H4BLQ7wKXUMTSSiPkECqMrxMV4Qd70xpQUeAqGQUWgYFjoQbQReNUag8R58CeQE0+OQSGlu4Cut/Oczs1aEBENFPjf24wPEzKLeEK+1oP6KB//ENOOtEgbDDiqHpHmbn7Ee3mX+cQLiOAzwnoBrDjwrDk9xLtLO+IekNyUui4RppxjPUzTJ/uKORv0Cgp6oZYlfZyARM6dqI41NTHbyeD96ZZuTKVB1wVH0V+7bttrklsicc2eyDToG7+QRbVyufpwMz/9f/rTLAIVb3Mcfs++nvJPET82tm41g4wwAQjJ0dxSimf0dtoVf0AFD/wuyTOGLx+fpk4pKYgwq9E1bdTX4Znp5gqoq/l3+dXHG1kwMYnAl26b1iaWL6s8ERsXSLtNlnkeodpNL7RhDLPUXE5Lna2Ynhexiz9Kjf54YHcQLDMi1FC93umw+MmKZBE1T8xBe+TqGTQrlpFDh2640= grover@HP
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
